<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Serious game</title>
    </head>

    <body>
        <h1>Serious game : </h1>
        <p>Sed tempor metus eget wisi. Duis cursus. Nam  nunc. Nulla placerat wisi sed est. Aenean risus. Lorem ipsum dolor  sit amet, consectetuer adipiscing elit. Proin erat dolor, ultricies  a, rutrum sed, posuere eget, metus. Donec sagittis nunc ac tortor.  Aliquam erat volutpat. Curabitur consectetuer, augue nec viverra  eleifend, dolor dolor volutpat orci, dapibus pellentesque eros pede  a arcu. Nullam augue. Etiam eget nulla vel mi porta hendrerit.  Phasellus cursus scelerisque tortor. Maecenas ut leo.</p>

        <p>Cras pretium. Nulla malesuada ipsum ut  libero. Suspendisse gravida hendrerit tellus. Maecenas quis lacus.  Morbi fringilla. Vestibulum odio turpis, tempor vitae, scelerisque  a, dictum non, massa. Praesent erat felis, porta sit amet,  condimentum sit amet, placerat et, turpis. Praesent placerat lacus a  enim. Vestibulum non eros. Ut congue. Donec tristique varius tortor.  Pellentesque habitant morbi tristique senectus et netus et malesuada  fames ac turpis egestas. Nam dictum dictum urna.</p>

        <p>Nunc id nulla nec mauris iaculis rutrum. Nunc  nisl. Integer mi. Praesent lorem neque, egestas at, molestie in,  faucibus et, eros. Sed rutrum, ante vitae aliquet tincidunt, diam  elit auctor risus, eu elementum purus turpis eu elit. Proin ac orci.  Integer varius, urna non sollicitudin consequat, massa libero  pharetra erat, et venenatis dui orci eget purus. Aliquam iaculis est  eget ipsum. Ut volutpat velit. Phasellus fringilla. Aliquam mollis  tellus vel odio. Vestibulum ante ipsum primis in faucibus orci  luctus et ultrices posuere cubilia Curae Vestibulum gravida sapien  sed diam dictum pharetra. Nulla ac odio. Duis vitae metus ut purus  feugiat interdum. Duis eros enim, tincidunt ac, venenatis et,  dignissim id, lacus. Curabitur sagittis dolor nec augue. Sed  ultricies mauris. Donec semper, enim eu vestibulum placerat, justo  risus eleifend quam, ac semper velit pede convallis arcu.</p>

        <p>Suspendisse vitae elit. Aliquam arcu neque, ornare in, ullamcorper quis, commodo eu, libero. Fusce sagittis erat at erat tristique mollis. Maecenas sapien libero, molestie et, lobortis in, sodales eget, dui. Morbi ultrices rutrum lorem. Nam elementum ullamcorper leo. Morbi dui. Aliquam sagittis. Nunc placerat. Pellentesque tristique sodales est. Maecenas imperdiet lacinia velit. Cras non urna. Morbi eros pede, suscipit ac, varius vel, egestas non, eros. Praesent malesuada, diam id pretium elementum, eros sem dictum tortor, vel consectetuer odio sem sed wisi.</p>

        <p>Duis aliquet dui in est. Donec eget est. Nunc lectus odio, varius at, fermentum in, accumsan non, enim. Aliquam erat volutpat. Proin sit amet nulla ut eros consectetuer cursus. Phasellus dapibus aliquam justo. Nunc laoreet. Donec consequat placerat magna. Duis pretium tincidunt justo. Sed sollicitudin vestibulum quam. Nam quis ligula. Vivamus at metus. Etiam imperdiet imperdiet pede. Aenean turpis. Fusce augue velit, scelerisque sollicitudin, dictum vitae, tempor et, pede. Donec wisi sapien, feugiat in, fermentum ut, sollicitudin adipiscing, metus.</p>

        <p>Morbi luctus, wisi viverra faucibus pretium, nibh est placerat odio, nec commodo wisi enim eget quam. Quisque libero justo, consectetuer a, feugiat vitae, porttitor eu, libero. Suspendisse sed mauris vitae elit sollicitudin malesuada. Maecenas ultricies eros sit amet ante. Ut venenatis velit. Maecenas sed mi eget dui varius euismod. Phasellus aliquet volutpat odio. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae Pellentesque sit amet pede ac sem eleifend consectetuer. Nullam elementum, urna vel imperdiet sodales, elit ipsum pharetra ligula, ac pretium ante justo a nulla. Curabitur tristique arcu eu metus. Vestibulum lectus. Proin mauris. Proin eu nunc eu urna hendrerit faucibus. Aliquam auctor, pede consequat laoreet varius, eros tellus scelerisque quam, pellentesque hendrerit ipsum dolor sed augue. Nulla nec lacus.</p>

        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Ut purus elit, vestibulum ut, placerat ac, adipiscing vitae, felis. Curabitur dictum gravida mauris. Nam arcu libero, nonummy eget, consectetuer id, vulputate a, magna. Donec vehicula augue eu neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris ut leo. Cras viverra metus rhoncus sem. Nulla et lectus vestibulum urna fringilla ultrices. Phasellus eu tellus sit amet tortor gravida placerat. Integer sapien est, iaculis in, pretium quis, viverra ac, nunc. Praesent eget sem vel leo ultrices bibendum. Aenean faucibus. Morbi dolor nulla, malesuada eu, pulvinar at, mollis ac, nulla. Curabitur auctor semper nulla. Donec varius orci eget risus. Duis nibh mi, congue eu, accumsan eleifend, sagittis quis, diam. Duis eget orci sit amet orci dignissim rutrum.</p>

        <p>Suspendisse ac diam sed dui adipiscing   pretium. Donec ullamcorper, sapien nec tempor venenatis, enim felis  euismod pede, ut auctor lacus lectus sit amet diam. Vestibulum  rutrum sem ut ante. Nulla eros. Quisque vitae nisl eget tellus  feugiat volutpat. Nam id neque eu quam sodales vehicula. Nam  dapibus, nulla eu iaculis placerat, pede est volutpat purus, id  iaculis elit elit vel mauris. Donec dui. In hac habitasse platea  dictumst. Nunc non quam. Proin euismod egestas eros. Mauris nisl.  Sed neque. Phasellus bibendum. Proin ut purus in eros faucibus  auctor.</p>

        <p>Praesent sed est non nibh tempus venenatis.  Praesent rhoncus. Curabitur sagittis est sit amet neque. Sed commodo  malesuada lectus. Phasellus enim tellus, tempor ut, tristique eu,  aliquam eu, quam. Aenean quis quam quis wisi gravida vehicula.  Pellentesque a massa a leo pretium rhoncus. Suspendisse ultrices.  Donec lacinia malesuada massa. Class aptent taciti sociosqu ad  litora torquent per conubia nostra, per inceptos hymenaeos. Donec  pretium ornare mauris. Phasellus auctor erat eget enim. Integer  scelerisque, felis eu consequat fringilla, lorem wisi ultricies  velit, id vehicula purus nulla eget odio. Nullam mattis, diam a  rutrum fermentum, odio sapien tristique quam, id mollis tellus quam  in odio. Mauris eu sapien. Donec aliquam lorem sit amet lorem  pharetra lobortis.</p>

        <p>Proin non sem. Donec nec erat. Proin libero.  Aliquam viverra arcu. Donec vitae purus. Donec felis mi, semper id,  scelerisque porta, sollicitudin sed, turpis. Nulla in urna. Integer  varius wisi non elit. Etiam nec sem. Mauris consequat, risus nec  congue condimentum, ligula ligula suscipit urna, vitae porta odio  erat quis sapien. Proin luctus leo id erat. Etiam massa metus,  accumsan pellentesque, sagittis sit amet, venenatis nec, mauris.  Praesent urna eros, ornare nec, vulputate eget, cursus sed, justo.  Phasellus nec lorem. Nullam ligula ligula, mollis sit amet, faucibus  vel, eleifend ac, dui. Aliquam erat volutpat.</p>

        <p>Nunc euismod, mauris luctus adipiscing  pellentesque, augue ligula pellentesque lectus, vitae posuere purus  velit a pede. Phasellus leo mi, egestas imperdiet, blandit non,  sollicitudin pharetra, enim. Nullam faucibus tellus non enim. Sed  egestas nunc eu eros. Nunc euismod venenatis urna. Phasellus  ullamcorper. Vivamus varius est ac lorem. In id pede eleifend nibh  consectetuer faucibus. Phasellus accumsan euismod elit. Etiam vitae  elit. Integer imperdiet nibh. Morbi imperdiet orci euismod mi.</p>

        <p>Donec vel augue. Morbi a turpis sed libero  consequat porta. Quisque lacinia consequat odio. Sed vehicula  sollicitudin purus. Vestibulum eget est. In hac habitasse platea  dictumst. Sed blandit, tortor a auctor imperdiet, wisi nibh ornare  leo, ac dictum nibh enim eu orci. Pellentesque habitant morbi  tristique senectus et netus et malesuada fames ac turpis egestas.  Aliquam tincidunt ullamcorper justo. Etiam accumsan lacus nec ante.  Ut dictum luctus mauris. Ut metus. Maecenas gravida. Proin iaculis.  Integer convallis, justo iaculis ullamcorper sollicitudin, lectus  neque tincidunt mi, at condimentum sem quam vel diam. Aenean sit  amet purus.</p>

        <p>Proin sit amet augue. Praesent lacus. Donec a  leo. Ut turpis ante, condimentum sed, sagittis a, blandit sit amet,  enim. Integer sed elit. In ultricies blandit libero. Proin molestie  erat dignissim nulla convallis ultrices. Aliquam in magna. Etiam  sollicitudin, eros a sagittis pellentesque, lacus odio volutpat  elit, vel tincidunt felis dui vitae lorem. Etiam leo. Nulla et  justo.</p>
        <p>Sed tempor metus eget wisi. Duis cursus. Nam  nunc. Nulla placerat wisi sed est. Aenean risus. Lorem ipsum dolor  sit amet, consectetuer adipiscing elit. Proin erat dolor, ultricies  a, rutrum sed, posuere eget, metus. Donec sagittis nunc ac tortor.  Aliquam erat volutpat. Curabitur consectetuer, augue nec viverra  eleifend, dolor dolor volutpat orci, dapibus pellentesque eros pede  a arcu. Nullam augue. Etiam eget nulla vel mi porta hendrerit.  Phasellus cursus scelerisque tortor. Maecenas ut leo.</p>

        <p>Cras pretium. Nulla malesuada ipsum ut  libero. Suspendisse gravida hendrerit tellus. Maecenas quis lacus.  Morbi fringilla. Vestibulum odio turpis, tempor vitae, scelerisque  a, dictum non, massa. Praesent erat felis, porta sit amet,  condimentum sit amet, placerat et, turpis. Praesent placerat lacus a  enim. Vestibulum non eros. Ut congue. Donec tristique varius tortor.  Pellentesque habitant morbi tristique senectus et netus et malesuada  fames ac turpis egestas. Nam dictum dictum urna.</p>

        <p>Nunc id nulla nec mauris iaculis rutrum. Nunc  nisl. Integer mi. Praesent lorem neque, egestas at, molestie in,  faucibus et, eros. Sed rutrum, ante vitae aliquet tincidunt, diam  elit auctor risus, eu elementum purus turpis eu elit. Proin ac orci.  Integer varius, urna non sollicitudin consequat, massa libero  pharetra erat, et venenatis dui orci eget purus. Aliquam iaculis est  eget ipsum. Ut volutpat velit. Phasellus fringilla. Aliquam mollis  tellus vel odio. Vestibulum ante ipsum primis in faucibus orci  luctus et ultrices posuere cubilia Curae Vestibulum gravida sapien  sed diam dictum pharetra. Nulla ac odio. Duis vitae metus ut purus  feugiat interdum. Duis eros enim, tincidunt ac, venenatis et,  dignissim id, lacus. Curabitur sagittis dolor nec augue. Sed  ultricies mauris. Donec semper, enim eu vestibulum placerat, justo  risus eleifend quam, ac semper velit pede convallis arcu.</p>

        <p>Suspendisse vitae elit. Aliquam arcu neque, ornare in, ullamcorper quis, commodo eu, libero. Fusce sagittis erat at erat tristique mollis. Maecenas sapien libero, molestie et, lobortis in, sodales eget, dui. Morbi ultrices rutrum lorem. Nam elementum ullamcorper leo. Morbi dui. Aliquam sagittis. Nunc placerat. Pellentesque tristique sodales est. Maecenas imperdiet lacinia velit. Cras non urna. Morbi eros pede, suscipit ac, varius vel, egestas non, eros. Praesent malesuada, diam id pretium elementum, eros sem dictum tortor, vel consectetuer odio sem sed wisi.</p>

        <p>Duis aliquet dui in est. Donec eget est. Nunc lectus odio, varius at, fermentum in, accumsan non, enim. Aliquam erat volutpat. Proin sit amet nulla ut eros consectetuer cursus. Phasellus dapibus aliquam justo. Nunc laoreet. Donec consequat placerat magna. Duis pretium tincidunt justo. Sed sollicitudin vestibulum quam. Nam quis ligula. Vivamus at metus. Etiam imperdiet imperdiet pede. Aenean turpis. Fusce augue velit, scelerisque sollicitudin, dictum vitae, tempor et, pede. Donec wisi sapien, feugiat in, fermentum ut, sollicitudin adipiscing, metus.</p>

        <p>Morbi luctus, wisi viverra faucibus pretium, nibh est placerat odio, nec commodo wisi enim eget quam. Quisque libero justo, consectetuer a, feugiat vitae, porttitor eu, libero. Suspendisse sed mauris vitae elit sollicitudin malesuada. Maecenas ultricies eros sit amet ante. Ut venenatis velit. Maecenas sed mi eget dui varius euismod. Phasellus aliquet volutpat odio. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae Pellentesque sit amet pede ac sem eleifend consectetuer. Nullam elementum, urna vel imperdiet sodales, elit ipsum pharetra ligula, ac pretium ante justo a nulla. Curabitur tristique arcu eu metus. Vestibulum lectus. Proin mauris. Proin eu nunc eu urna hendrerit faucibus. Aliquam auctor, pede consequat laoreet varius, eros tellus scelerisque quam, pellentesque hendrerit ipsum dolor sed augue. Nulla nec lacus.</p>

        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Ut purus elit, vestibulum ut, placerat ac, adipiscing vitae, felis. Curabitur dictum gravida mauris. Nam arcu libero, nonummy eget, consectetuer id, vulputate a, magna. Donec vehicula augue eu neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris ut leo. Cras viverra metus rhoncus sem. Nulla et lectus vestibulum urna fringilla ultrices. Phasellus eu tellus sit amet tortor gravida placerat. Integer sapien est, iaculis in, pretium quis, viverra ac, nunc. Praesent eget sem vel leo ultrices bibendum. Aenean faucibus. Morbi dolor nulla, malesuada eu, pulvinar at, mollis ac, nulla. Curabitur auctor semper nulla. Donec varius orci eget risus. Duis nibh mi, congue eu, accumsan eleifend, sagittis quis, diam. Duis eget orci sit amet orci dignissim rutrum.</p>

        <p>Suspendisse ac diam sed dui adipiscing   pretium. Donec ullamcorper, sapien nec tempor venenatis, enim felis  euismod pede, ut auctor lacus lectus sit amet diam. Vestibulum  rutrum sem ut ante. Nulla eros. Quisque vitae nisl eget tellus  feugiat volutpat. Nam id neque eu quam sodales vehicula. Nam  dapibus, nulla eu iaculis placerat, pede est volutpat purus, id  iaculis elit elit vel mauris. Donec dui. In hac habitasse platea  dictumst. Nunc non quam. Proin euismod egestas eros. Mauris nisl.  Sed neque. Phasellus bibendum. Proin ut purus in eros faucibus  auctor.</p>

        <p>Praesent sed est non nibh tempus venenatis.  Praesent rhoncus. Curabitur sagittis est sit amet neque. Sed commodo  malesuada lectus. Phasellus enim tellus, tempor ut, tristique eu,  aliquam eu, quam. Aenean quis quam quis wisi gravida vehicula.  Pellentesque a massa a leo pretium rhoncus. Suspendisse ultrices.  Donec lacinia malesuada massa. Class aptent taciti sociosqu ad  litora torquent per conubia nostra, per inceptos hymenaeos. Donec  pretium ornare mauris. Phasellus auctor erat eget enim. Integer  scelerisque, felis eu consequat fringilla, lorem wisi ultricies  velit, id vehicula purus nulla eget odio. Nullam mattis, diam a  rutrum fermentum, odio sapien tristique quam, id mollis tellus quam  in odio. Mauris eu sapien. Donec aliquam lorem sit amet lorem  pharetra lobortis.</p>

        <p>Proin non sem. Donec nec erat. Proin libero.  Aliquam viverra arcu. Donec vitae purus. Donec felis mi, semper id,  scelerisque porta, sollicitudin sed, turpis. Nulla in urna. Integer  varius wisi non elit. Etiam nec sem. Mauris consequat, risus nec  congue condimentum, ligula ligula suscipit urna, vitae porta odio  erat quis sapien. Proin luctus leo id erat. Etiam massa metus,  accumsan pellentesque, sagittis sit amet, venenatis nec, mauris.  Praesent urna eros, ornare nec, vulputate eget, cursus sed, justo.  Phasellus nec lorem. Nullam ligula ligula, mollis sit amet, faucibus  vel, eleifend ac, dui. Aliquam erat volutpat.</p>

        <p>Nunc euismod, mauris luctus adipiscing  pellentesque, augue ligula pellentesque lectus, vitae posuere purus  velit a pede. Phasellus leo mi, egestas imperdiet, blandit non,  sollicitudin pharetra, enim. Nullam faucibus tellus non enim. Sed  egestas nunc eu eros. Nunc euismod venenatis urna. Phasellus  ullamcorper. Vivamus varius est ac lorem. In id pede eleifend nibh  consectetuer faucibus. Phasellus accumsan euismod elit. Etiam vitae  elit. Integer imperdiet nibh. Morbi imperdiet orci euismod mi.</p>

        <p>Donec vel augue. Morbi a turpis sed libero  consequat porta. Quisque lacinia consequat odio. Sed vehicula  sollicitudin purus. Vestibulum eget est. In hac habitasse platea  dictumst. Sed blandit, tortor a auctor imperdiet, wisi nibh ornare  leo, ac dictum nibh enim eu orci. Pellentesque habitant morbi  tristique senectus et netus et malesuada fames ac turpis egestas.  Aliquam tincidunt ullamcorper justo. Etiam accumsan lacus nec ante.  Ut dictum luctus mauris. Ut metus. Maecenas gravida. Proin iaculis.  Integer convallis, justo iaculis ullamcorper sollicitudin, lectus  neque tincidunt mi, at condimentum sem quam vel diam. Aenean sit  amet purus.</p>

        <p>Proin sit amet augue. Praesent lacus. Donec a  leo. Ut turpis ante, condimentum sed, sagittis a, blandit sit amet,  enim. Integer sed elit. In ultricies blandit libero. Proin molestie  erat dignissim nulla convallis ultrices. Aliquam in magna. Etiam  sollicitudin, eros a sagittis pellentesque, lacus odio volutpat  elit, vel tincidunt felis dui vitae lorem. Etiam leo. Nulla et  justo.</p>

        <!-- -----------------------------------TO IMPORT------------------------------------- -->
        <!-- --------------------------------------------------------------------------------- -->
        <button class="buttonControl">Affiche popup</button>
        <div id="overlay">
            <div class="sub">
                <h1 class="h1Overlay">Remplissez le formulaire :</h1>

                <form id="formOverlay" action="/" method="post">
                    <div class="containerDiv">
                        <input class="textArea" type="text" id="num" name="num" placeholder="Numéro étudiant" >
                    </div>
                    <div class="containerDiv">
                        <input class="textArea" type="text" id="nom" name="nom" placeholder="Nom" >
                    </div>
                    <div class="containerDiv">
                        <input class="textArea" type="text" id="prenom" name="prenom" placeholder="Prénom" >
                    </div>
                    <div class="containerDiv">
                        <input class="textArea" type="text" id="date" name="date" placeholder="Date de naissance (JJ/MM/AAAA)" >
                    </div>
                    <div class="btn">
                        <input class="buttonControl" id="generate" type="submit" value="Generate">
                        <button id="result" class="buttonControl"><a style="text-decoration: none; color: white; width: 100%; height: 100%; display: inline-block; text-align: center; margin-top: 1.1em;" href="files/clé.txt" download="CLé crypté">Download</a></button>
                    </div>
                </form>
                

                <div class="lua">
                    <div class="luaIn"><p id="pct"></p></div>
                </div>


                <div>
                    <!-- <h1 id="labelCrypt" class="h1Overlay">Clé crypté :</h1> -->
                    <!-- <p id="result"></p> -->
                </div>  

            </div>
        </div>
        
        <link rel="stylesheet" href="css/style.css">
        <script type="text/javascript" src="js/main.js"></script>
        <!-- --------------------------------------------------------------------------------- -->
        <!-- -----------------------------------TO IMPORT------------------------------------- -->
    </body>
</html>
